<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
        </a>
      </section>
      <section class="mb-4">
        <h4 class="title">
            <u>
                CONTÁCTANOS
            </u>
        </h4>
        <p>
            <i class="fas fa-phone"></i> +57 3102987402
        </p>
        <p>
            <i class="fas fa-envelope"></i> cachipay-cafe@gmail.com
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright
    </div>
</footer>